<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <add key="PageNoProvider" value="True" />
    <add key="PageSizeProvider" value="True" />
    <add key="allowedList" value="*" />
    <add key="ActiveAttachmentPath" value="D:\App_Vault\VehicleRequest\Folder01"/>
    <add key="TempAttachmentPath" value="d:\temp"/>
    <add key="BaaNLive" value="False"/>
    <add key="CheckSanction" value="False"/>
    <add key="Testing" value="True"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection" />
    <add name="-AspNetDBConnection" connectionString="Data Source=192.9.200.150;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient" />
    <add name="AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" >
      <codeSubDirectories>
        <add directoryName="Std_Code" />
        <add directoryName="CT"/>
        <add directoryName="Vr_Code"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60">
    </sessionState>
    <customErrors mode="RemoteOnly" />
    <identity impersonate="false" />
    <authorization>
      <allow users="*" />
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx" />
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx" />
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx" />
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx" />
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx" />
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx" />
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx" />
				<add tagPrefix="LGM" tagName="PageSearchBar" src="~/Sys_Controls/PageSearchBar.ascx"/>
				<add tagPrefix="LGM" tagName="AttachmentBar" src="~/Sys_Controls/AttachmentBar.ascx"/>      

        <add tagPrefix="LGM" tagName="LC_vrGroups" src="~/VR_Main/APP_FKControls/LC_vrGroups.ascx" />

				<add tagPrefix="LGM" tagName="LC_vrTransporters" src="~/VR_Main/APP_FKControls/LC_vrTransporters.ascx"/>
				<add tagPrefix="LGM" tagName="LC_vrMaterialStates" src="~/VR_Main/APP_FKControls/LC_vrMaterialStates.ascx"/>
				<add tagPrefix="LGM" tagName="LC_vrRequestStates" src="~/VR_Main/APP_FKControls/LC_vrRequestStates.ascx"/>
				<add tagPrefix="LGM" tagName="LC_vrUnits" src="~/VR_Main/APP_FKControls/LC_vrUnits.ascx"/>
				<add tagPrefix="LGM" tagName="LC_vrVehicleTypes" src="~/VR_Main/APP_FKControls/LC_vrVehicleTypes.ascx"/>
				<add tagPrefix="LGM" tagName="LC_vrRequestExecution" src="~/VR_Main/APP_FKControls/LC_vrRequestExecution.ascx"/>
				<add tagPrefix="LGM" tagName="LC_vrODCReasons" src="~/VR_Main/APP_FKControls/LC_vrODCReasons.ascx"/>
				<add tagPrefix="LGM" tagName="LC_vrGetGR" src="~/VR_Main/APP_FKControls/ChildControls/LC_vrGetGR.ascx"/>
        <add tagPrefix="LGM" tagName="LC_vrTransShip" src="~/VR_Main/APP_FKControls/ChildControls/LC_vrTransShip.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmDivisions" src="~/VR_Main/APP_FKControls/LC_qcmDivisions.ascx"/>
				<add tagPrefix="LGM" tagName="LC_LinkExecution" src="~/VR_Main/APP_FKControls/ChildControls/LC_LinkExecution.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakUnits" src="~/VR_Main/APP_FKControls/LC_pakUnits.ascx"/>

        <add tagPrefix="LGM" tagName="LC_vrTransporterBill" src="~/VR_Main/APP_FKControls/LC_vrTransporterBill.ascx" />
				<add tagPrefix="LGM" tagName="LC_vrBillStatus" src="~/VR_Main/APP_FKControls/LC_vrBillStatus.ascx" />
				<add tagPrefix="LGM" tagName="LC_vrRequestReasons" src="~/VR_Main/APP_FKControls/LC_vrRequestReasons.ascx" />
        <add tagPrefix="LGM" tagName="LC_vrBusinessPartner" src="~/VR_Main/APP_FKControls/LC_vrBusinessPartner.ascx" />
        <add tagPrefix="LGM" tagName="LC_vrLorryReceiptStatus" src="~/VR_Main/APP_FKControls/LC_vrLorryReceiptStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_vrLorryReceipts" src="~/VR_Main/APP_FKControls/LC_vrLorryReceipts.ascx" />
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="LGM-rptx" path="*.rptx" verb="*" type="SIS.SYS.Utilities.rptxHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
